on: 
  pull_request:
  push:
    branches:
    - master

name: Linux Tests
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x, 1.25.x]
        platform:
        - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Lint
      run: make lint
    - name: Install dependencies
      run: sudo apt install subversion mercurial bzr
    - name: Test
      run: make test
